<h1>Burgers App</h1>

<!-- Pass in data from server.js -->
<ul>
  {{#each burgers}}
  	<li>
      <p><span class="label"></span>{{this.burger_name}}</p>

      <button data-id="{{this.id}}" class="delquote">Devour</button>

  	</li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-burger">

  <div class="form-group">
    <label for="burg">Burger:</label>
    <input type="text" id="burg" name="burger">
  </div>

  <button type="submit">Add Burger</button>
</form>